.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  overflow-y: auto;
}

.tank1Image {
 width: 100%;
 max-width: 220px;
 object-fit: cover;
}

.emptyContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  text-transform: uppercase;
}