.button {
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  transition: opacity 0.3s, transform 0.1s;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    transform: scale(0.9);
  }
}
