.input {
  outline: 0;
  width: 100%;
  background: #0a161f;
  color: #fff;
  border: 1px solid #cccccc;
  padding: 10px 12px;
  border-radius: 4px;
  appearance: none;
  transition: all 0.3s;
  z-index: 1;
  max-width: 240px;
  line-height: 16px;

  &:focus {
    border-color: #ffffff;
  }
}
