.rowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
}
.row {
  display: grid;
  grid-template-columns: 36px minmax(100px, auto) 36px 1fr 1fr 1fr 64px;
  align-items: center;
  color: #d1d1d1;
  width: 100%;
  max-width: 1024px;

  @media (max-width: 920px) {
    font-size: 14px;
  }
  @media (max-width: 768px) {
    grid-template-columns: 36px minmax(90px, auto) 36px 1fr 64px;
  }
}

.headRowContainer {
  position: sticky;
  top: 0;
  background-color: #1a262f;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.288);
}

.headRow {
  & > div {
    font-weight: 600;
  }
  & > div:last-child {
    text-align: right;
  }
}
.premium {
  color: rgb(215, 183, 0);
}
.name {
  word-break: break-all;
}
.price {
  @media (max-width: 768px) {
    display: none;
  }
}
.tier {
  text-align: center;
}
.endCol {
  margin-left: auto;
}
