.container {
  padding: 8px 16px;
  background-color: #1a262f;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.pagination {
  display: flex;
  align-items: center;
  gap: 8px;
}
.numbers {
  display: flex;
  align-items: center;
  gap: 4px;
}
.dots {
  color: #fff;

  @media (width < 768px) {
    display: none;
  }
}
.number {
  width: 18px;
  font-size: 16px;
  padding: 0;
}
.active {
  color: #ffaa00;
}
.select {
  max-width: 200px;
}
